@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,800;1,900&display=swap');
:root{
    --primary : #195e34;
    --white : #ffffff;
    --firstbg : #141414;
    --secondbg : rgba(35, 206, 145, 0.25);
}
h1{
    color: #FFF;
    text-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
h2{
    color: #195E34;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
body{
    padding: none;
    margin: 0px 0px;
    width: 100vw;
    background-color: var(--firstbg);
}
.main-wrapper{
    width:100vw;
    height: 100vh;
    padding:0px 0px;
    margin: 0 auto;
}

/* ----------- Header style -----------------*/
header{
    width:100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-wrapper{
    width: 100%; 
    height: 100%; 
    padding: 14px 50px; 
    justify-content: space-between; 
    align-items: center; 
    display: flex;
    flex-flow : row, nowrap;
}
#logo{
    width: 145px; 
    height: 52px; 
    justify-content: center; 
    align-items: flex-start; 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
#logo #span1{
    color: var(--primary); 
    font-size: 28px; 
    font-family: Inter; 
    font-weight: 800; 
    word-wrap: break-word;
    display: block;
}
#logo #span2{
    color: var(--white); 
    font-size: 20px; 
    font-family: Inter; 
    font-weight: 400; 
    display: block;
}
.navbar{
    justify-content: center; 
    align-items: center; 
    gap: 30px; 
    display: flex;
}
.navbar-item{
    color: white; 
    font-size: 14px; 
    font-family: Poppins; 
    font-weight: 400; 
    word-wrap: break-word;
}
.navbar-item:hover{
    border-bottom:var(--primary);
    cursor: pointer;
}

/* --------------  landing section ------------- */

#landing{
    display:flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0px 50px;
    height: 90vh;
}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width:calc(50vw - 50px);
    height: 100%;
    gap : 70px;
    position:relative;
}
.comment-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap : 20px;
    color: #FFF;
    font-family: Poppins;
}
#intro{
    width: 100%; 
    color: var(--primary); 
    font-size: 36px; 
    font-family: Poppins; 
    font-weight: 800; 
    word-wrap: break-word;
    margin : 0px 0px;
}
#description{
    width: 100%; 
    height: 100%; 
    color: white; 
    font-size: 14px; 
    font-family: Poppins; 
    font-weight: 400; 
    word-wrap: break-word
}
.button-container{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button{
    width:120px;
    height: 20px;
    padding:19px 35px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 10px; 
    overflow: hidden; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex;
    text-align: center; 
    font-size: 14px; 
    font-family: Poppins; 
    font-weight: 400; 
    word-wrap: break-word;
    border :1px solid rgba(151, 243, 211, 0);
}
.button:hover{
    border :1px solid rgba(151, 243, 211, 0.25);
    box-shadow: 0px 0px 70px 70px rgba(130, 241, 203, 0.25);
    cursor: pointer;
}
#green{
    background-color: var(--primary);
    color : var(--white);
}
#white{
    background-color: var(--white);
    color : var(--primary);
}
.image-hero{
    position:relative;
    height:100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width:calc(50vw - 75px);
}
.image-container{
    width: 280px;
    height: 280px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: white;
    overflow : hidden;
    margin-top:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index : 10;
}
.image-container img{
    width:450px;
    margin-left: 70px;
}
.bubble{
    background-color: var(--primary);
    box-shadow: 0px 16px 70px 0px rgba(76, 230, 176, 0.25);
    border-radius: 50%;
    color:white;
    z-index : 20;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size : 18px;
    font-weight: 400;
}
.bubble:hover{
    border :1px solid rgba(151, 243, 211, 0.25);
    box-shadow: 0px 0px 70px 70px rgba(130, 241, 203, 0.25);
}
.small{
    width: 80px;
    height:80px;
}
.medium{
    width: 120px;
    height:120px;
}

/* ----------- About us ---------- */

#about-us{
    width: 100vw;
    height: 100vh;
    background: var(--secondbg);
    padding : 14px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

